.container{
	width:100%;
	min-width:480px;
	background-color:#f2f2f2;
	margin:0 auto;
	padding:0px;
	display:center;
}
.top{
	width:100%;
	display:center;
	
}

.navRight{
	float:right;
	font-family:verdana,sans-serif;
	color:white;
}

.navLeft{
	float:left;
	font-family:verdana,sans-serif;
	color:white;
}
.main{
	margin-left:48px;
	margin-right:48px;
	background-color:white;
	width:800px;
	padding:15px;
	
	
}
.content{
	
	left:50%;
	margin:5px;
	margin-left:28%;
	text-align:left;
}
label{
	padding:5px;
}
ul{
	list-style-type: none;
	margin:0;
	padding:0;
	
}
a:link, a:visited{
	display:block;
	
	
	background-color:#990033;
	color:white;
	text-align:center;
	text-decoration:none;
	font-weight:bold;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:6px;
	padding-right:6px;
}
a:hover,a:active{
	background-color:#660033;
}
h1{
	
	margin:0px;
	padding-top:24px;
	padding-bottom:24px;
	background-color:#990033;
	font-family:verdana,sans-serif;
	font-size:32pt;
	font-weight:900;
	color:white;
}
h2{
	font-family:verdana,sans-serif;
	font-size:20pt;
	font-weight:600;
}
th,td{
	font-family:Arial,sans-serif;
	text-align:left;
	padding: 5px;
}
label{
	font-family:Arial,sans-serif;
	font-weight:600;
	padding: 5px;
	
}
div{
	padding:3px;
}

.space{
	height:5px;
}
.button {
	
	background-color:#990033;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	border:0px;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:verdana,sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
}
.button:hover {
	
	background-color:#660033;
}
.button:active {
	position:relative;
	top:1px;
}

.textInPut{
	line-height:28px;
	width:300px;
}
