.containor{
	width:100%;
	min-width:480px;
	margin:0 auto;
	
}
.top{
	width:100%;
	display:center;
}


ul{
	list-style-type: none;
	margin:0;
	padding:0;
	
}

li{
	float:right;
	
}
.logIn{
	margin:48px;
}


.submit{
	
}