html
	head
		title User Profile
		link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		script(type='text/javascript', src='/vendor/jquery.min.js')
		script(type='text/javascript', src='/vendor/jquery.form.min.js')
		script(type='text/javascript', src='/vendor/bootstrap.min.js')
		script(type='text/javascript', src='/js/views/change.js')
		script(type='text/javascript', src='/js/controllers/profileController.js')
		script(type='text/javascript', src='/js/form-validation/changeValidator.js')

	body
		block content
			nav.navbar.navbar-default
				div.container
					div.narbar-header
						a(href='/user_prof')
							img.navbar-brand(src='/img/logo.png', alt='Project Fate Generator')
					div.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-right
							li
								button#logout.navbar-btn.btn-primary(type='button') Log Out
			div.body-container
				div.container
					div.row
						div.col-sm-9
							div.page-header
								h2 Password Change
							p Change your password here.
							form#changePassword.form-horizontal(method='post')
								div.form-group
									label.col-md-3.control-label Password
									div.col-md-7
										input#pass.form-control(type='password', name='pass')
								div.form-group
									label.col-md-3.control-label Confirm Password
									div.col-md-7
										input#pass-cf.form-control(type='password', name='pwConf')
								div.form-group
									div.col-md-7.col-md-offset-3
										button.btn.btn-primary(type='submit') Change Password	 				