<!DOCTYPE html>
<!-- Team Collestation-->
<!-- Made by Yefei Xue-->
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Concordia Scheduler</title>

    <link rel="stylesheet" type="text/css" href="../../public/css/general.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/index.css">

    <script type="text/javascript" src="../../public/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="../../public/js/form-validation/loginValidator.js"></script>
    <script type="text/javascript" src="../../public/js/controllers/loginController.js"></script>

  </head>
  <body>
    <div align="center" class="container">
      <div align="center" class="body">
        <h2>Welcome to</h2>
        <h1>Concordia Scheduler</h1>
      </div>
      <div class="main">
        <div align="center" class="logIn">
          <form id='form-login', method='post'>
            <div class="content">
              <label class="label">User ID</label>
              <div>
                <input type="text" name="user" onchange="checkAC()" class="textInput">
              </div>
            </div>
            <div class="content">
              <label class="label">Password</label>
              <div>
                <input type="Password" name="pass" onchange="checkAC()" class="textInput">
              </div>
            </div>
            <div style="{height:20px;}" class="space"></div>
            <div class="content">
              <input id="login" type="submit" value="Log In" class="button">
            </div>
          </form>
          <button id="register" class="button">Register</button>
        </div>
      </div>
    </div>
  </body>
</html>