doctype html

html
	head
		title Under Construction!
		link(rel='stylesheet', href='/vendor/bootstrap.min.css')

	body
		block content
			.container
				div.jumbotron(align='center')
					h2 More features are under construction! Please be patient for the next release...
					button.btn.btn-warning.btn-lg
						span.glyphicon.glyphicon-warning-sign
						span.glyphicon.glyphicon-warning-sign
						span.glyphicon.glyphicon-warning-sign

		block scripts