doctype html

html
	head
		title User Profile
		link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		script(type='text/javascript', src='/vendor/jquery.min.js')
		script(type='text/javascript', src='/vendor/jquery.form.min.js')
		script(type='text/javascript', src='/vendor/bootstrap.min.js')
		script(type='text/javascript', src='/vendor/typeahead.bundle.min.js')
		script(type='text/javascript', src='/js/views/user_prof.js')
		script(type='text/javascript', src='/js/controllers/profileController.js')

	body
		block content
			nav.navbar.navbar-default
				div.container
					div.narbar-header
						a(href='/user_prof')
							img.navbar-brand(src='/img/logo.png', alt='Project Fate Generator')
					div.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-right
							li
								button#changePW.navbar-btn.btn-primary(type='button') Change Password
								button#logout.navbar-btn.btn-primary(type='button') Log Out	 									
			div.body-container
				div.container
					div.row
						div.col-sm-9
							form#userProfile.form-horizontal(method='post')
								div.form-group
									div.col-md-7
										button.btn.btn-success.btn-lg GENERATE SEQUENCE!					
								div.page-header
									h2 Preferences
								p Adjust the preferences below to modify the sequence that is generated.

									div.form-group
										label.col-md-3.control-label Starting Semester
										div.col-md-7
											label.radio-inline
												input#starting_semester_fall(type='radio', name='starting_semester', value='1', checked)
												| Fall
											label.radio-inline
												input#starting_semester_fall(type='radio', name='starting_semester', value='2')
												| Winter		
									div.form-group
										label.col-md-3.control-label Summer Classes?
										div.col-md-7
											label.radio-inline
												input(type='radio', name='summer_opt', id='summer_yes')
												| Yes
											label.radio-inline
												input(type='radio', name='summer_opt', id='summer_no', checked)
												| No
									div.page-header
										h2 Electives
									p Select your desired electives from the lists below.
									div.panel-group
										div.panel.panel-danger
											div.panel-heading
												h4.panel-title
													a(data-toggle='collapse', href='#electives-list-1')
														div.pull-left
															i.glyphicon.glyphicon-chevron-down
															|   SCIENCE ELECTIVES
														div.pull-right
															strong
																|(Choose
																span#class-remaining-1 1
																| more)
														div.clearfix
											div#electives-list-1.panel-collapse.collapse
												ul.list-group
													li.list-group-item FUUUUUUCK
									div.panel-group
										div.panel.panel-danger
											div.panel-heading
												h4.panel-title
													a(data-toggle='collapse', href='#electives-list-2')
														div.pull-left
															i.glyphicon.glyphicon-chevron-down
															|   GENERAL ELECTIVES
														div.pull-right
															strong
																|(Choose
																span#class-remaining-1 5
																| more)
														div.clearfix
											div#electives-list-2.panel-collapse.collapse
												ul.list-group
													li.list-group-item FUUUUUUCK
									div.panel-group
										div.panel.panel-danger
											div.panel-heading
												h4.panel-title
													a(data-toggle='collapse', href='#electives-list-3')
														div.pull-left
															i.glyphicon.glyphicon-chevron-down
															|   PROGRAM ELECTIVES
														div.pull-right
															strong
																|(Choose
																span#class-remaining-1 2
																| more)
														div.clearfix
											div#electives-list-3.panel-collapse.collapse
												ul.list-group
													li.list-group-item FUUUUUUCK
									div.page-header
										h2 Completed Courses
									p Add courses that you've completed to this list to omit them from sequence generation.
									table.table
										thead
											tr
												th Course
												th Type
										tbody
											tr
												td#emptyTable(colspan='2') You have no completed courses.
									div.form-group
										div.col-md-7
											input#search(type='text', placeholder='Ex: COMP248' style='color: black;' name='search')
											button#add.btn.btn-default(type='button') Add
												span.glyphicon.glyphicon-plus(style='margin-left:5px;')