doctype html

html
	head
		title User Registration
		link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		script(type='text/javascript', src='/vendor/jquery.min.js')
		script(type='text/javascript', src='/vendor/jquery.form.min.js')
		script(type='text/javascript', src='/js/views/user_reg.js')
		script(type='text/javascript', src='/js/form-validation/regValidator.js')

	body
		nav.navbar.navbar-default
			div.container
				div.navbar-header
					a(href='/')
							img.img-responsive(src='/img/logo.png', alt='Project Fate Generator')
		div.body-container
			div.container
				div.row
					div.col-md-8.col-md-offset-2
						div.panel
							div.intro-message.panel-outer-heading(style='text-align:center;')
								h1 User Registration
							hr.intro-divider-5
							div.panel-body
								form#reg.form-horizontal(method='post')
									div.form-group
										label.col-md-4.control-label Username
										div.col-md-6
											input.form-control(type='text', name='user', id='user')
									div.form-group
										label.col-md-4.control-label Password
										div.col-md-6
											input.form-control(type='Password', name='pass', id='pass')
									div.form-group
										label.col-md-4.control-label Password Confirmation
										div.col-md-6
											input.form-control(type='Password', name='pwConf', id='pass-cf')
									div.form-group
										label.col-md-4.control-label Email
										div.col-md-6
											input.form-control(type='text', name='email', id='email')
									div.form-group
										div.col-md-8.col-md-offset-4
											button#register.btn.btn-default.btn-lg(type='submit') Add Account