doctype html
html
  head
    meta(charset='UTF-8')
    title Concordia Scheduler
    link(rel='stylesheet', type='text/css', href='/vendor/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/css/user_reg.css')
    script(type='text/javascript', src='/vendor/jquery.min.js')
    script(type='text/javascript', src='/vendor/jquery.form.min.js')
    script(type='text/javascript', src='/js/views/user_reg.js')
    script(type='text/javascript', src='/js/form-validation/regValidator.js')

  body
    .container(align='center')
      .top(align='center')
        .topNav(style='overflow:auto')
          ul.topNavLeft
            li.navLeft
              a(href='/') Project-Fate-Generator
          ul.topNavRight
          br
          br
      .body(align='center')
        .user_reg(align='center')
          h1 User Registration
          .space
          form#reg(method='post')
            .main
              .content
                div
                  label Username:
                div
                  input.textInput(type='text', name='user', id='user')
              .content
                div
                  label Password:
                div
                  input.textInput(type='password', name='pass', id='pass')
                div
                  label Password Confirmation:
                div
                  input.textInput(type='password', name='pwConf', id='pass-cf')
              .content
                div
                  label Email Address:
                div
                  input.textInput(type='text', name='email', id='email')
              .content
                div
                  input#register.btn.btn-default.btn-lg(type='submit', value='Register')
        div
          div
