th,td{
	text-align:left;
}
#reset,#register{
	width:147px;
	height:40px;
}
.profiles{
	height:700px;
	width:260px;
	background-color:#e6e6e6;
}
.sequenceBox{
	height:700px;
	width:560px;
	background-color:#ffe6e6;
}