<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Concordia Scheduler</title>
	<link rel="stylesheet" type="text/css" href="../../public/css/general.css">
	<link rel="stylesheet" type="text/css" href="../../public/css/user_reg.css">
	<script type="text/javascript" src="/js/regValidator.js"></script>
</head>
<body>
	<div align="center" class = "container">
		
		<div align="center" class="top">
			<div style="overflow:auto" class="topNav">
				<ul class="topNavLeft"><li class="navLeft"><a href="index.html">Concordia Scheduler</a></li></ul>
				<ul class="topNavRight">
				</ul><br><br>
			</div>
		</div>
		<div align="center" class="body">
			<div class="user_reg" align="center">
				<h1>User Registration</h1>
				<div class="space">
				</div>
				<form id="form-reg" method="post">
					<div class="main">
						<div class="content">
							<div>
								<label>Username:</label>
							</div>
							<div>
								<input class="textInput" type="text" name="user" onchange="checkAC()"/>
							</div>
						</div>
						<div class="content">
							<div>
								<label>Password:</label>
							</div>
							<div>
								<input class="textInput" type="password" name="pass" id="pw1" onchange="checkPW1()"/>
							</div>
							<div>
								<label>Password Confirmation:</label>
							</div>
							<div>
								<input class="textInput" type="password" name="pwConf" id="pw2"  onchange="checkPW2()"/>											
							</div>
						</div>
						<div class="content">
							<div>
								<label>Email Address:</label>
							</div>
							<div>
								<input class="textInput" type="text" name="email"  onchange="checkEM()"/>
							</div>
						</div>
						<div class="content">
							<div>
								<input class="button" type="submit" value="Register" id="register"/>
							</div>
						</div>
					</div>
				</form>
			</div>
		<div>
	<div>
</body>
</html>